<div class="gallery__card">
	<div class="gc-image-block">
		<img class="pgc-image" src="./assets/showcase1.jpg" alt="" />
	</div>
	<div class="gallery__card__text--1">
		<div class="pgc-title"></div>
		<div class="pgc-name"></div>
		<div class="pgc-area"></div>
		<div class="gallery__card__text--1__bottom">
			<div class="pgc-flats"></div>
			<div><strong class="pgc-price"></strong> <small>onwards</small></div>
		</div>
		<div class="gallery__card__text--2">
			<span class="pgc-mby">Marketed By</span>
			<span class="pgc-pjcname"></span>
		</div>
	</div>
</div>
