.explore-card {
	height: 246px;
	width: 100%;
	border: 1px solid var(--border-color);
	border-top: 2px solid var(--bg-blue);
	border-radius: 8px;
	display: grid;
	grid-template-columns: 1fr, 1fr, 1fr;
	align-items: center;
}

.explore-head {
	padding: 0 20px;
}

.explore-head > span:first-child {
	font: var(--title-font);
	color: var(--text-primary);
	position: relative;
}

.explore-head > span:first-child::before {
	position: absolute;
	content: "";
	background: var(--home-sprite);
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: -45px -1027px;
	right: -24px;
	top: 4px;
}
.explore-head > span {
	font: var(--description-font);
	color: var(--text-primary);
}

.explore-reviews {
	display: grid;
	grid-template-columns: 0.2fr 0.3fr;
	font: var(--description-font);
	padding: 0 20px;
}

.explore-reviews {
	padding: 0 20px;
}
.explore-reviews > div > .rating {
	font-weight: 600;
	position: relative;
}
.explore-reviews > div > .rating::after {
	content: "";
	position: absolute;
	background: var(--home-sprite);
	width: 16px;
	height: 16px;
	left: 25px;
	top: 0;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: -45px -1065px;
}

.explore-sales {
	width: calc(100% - 32px);
	height: 34px;
	padding: 34px 12px 12px;
	background-color: var(--bg-light);
	border-radius: 8px;
	position: relative;
}
.explore-sales::before {
	content: "";
	position: absolute;
	background: url("https://properties-search.s3.ap-south-1.amazonaws.com/assets/showcase1.jpg");
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	top: -20px;
}

.explore-sales > span {
	color: var(--primary);
	font-weight: 600;
	position: absolute;
	font-size: 14px;
}
.explore-sales > span:first-child {
	top: 10px;
	left: 70px;
}
.explore-sales > span:last-child {
	top: 10px;
	right: 20px;
}
