<header class="header">
	<nav>
		<div class="hamburger">
			<div class="hamburger__line-1"></div>
			<div class="hamburger__line-2"></div>
			<div class="hamburger__line-3"></div>
		</div>
		<div class="nav-links">
			<ul class="nav-top-left">
				<li class="nav-items logo-nav-item">
					<img class="logo-nav" src="./assets/logo.png" alt="" />
					Property Search
				</li>
				<li class="nav-items nav-items-dropdown-link"></li>
			</ul>
			<ul class="nav-top-right">
				<li class="nav-items nav-items-dropdown-link"></li>
				<li class="nav-items nav-items-dropdown-link"></li>
				<li class="nav-items nav-btn">
					<button>Post Property <span>Free</span></button>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="nav-links-bottom-container">
		<div class="toggle-arrow-nav"></div>
		<ul class="nav-links-bottom">
			<li class="nav-items-bottom nav-bottom-btn">
				<span class="nav-item-icon"></span>Pay your Rent
			</li>
		</ul>
	</nav>
</header>
