.image-card {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 184px;
	border-radius: 8px;
	place-items: center;
}

.image-card-text {
	position: absolute;
	font: var(--title-font);
	color: var(--white);
	bottom: 0;
	padding: 24px 24px 56px;
}

.image-card-text > span {
	font-size: 24px;
}

.image-card > span {
	font-size: 14px;
	position: absolute;
	color: var(--white);
	bottom: 24px;
	left: 24px;
	font-weight: 600;
}

.image-card > span::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 11px;
	background: var(--home-sprite) no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: -46px -711px;
	transition: all 0.6s ease;
	right: -20px;
	top: 4px;
}
