<div class="guide-card-container">
	<div class="guide-card-title"></div>
	<div class="guide-card-videos-container">
		<div class="guide-card-videos-block">
			<div class="guide-card-video-1">
				<image-overlay-play-button iob-image="./assets/showcase1.jpg">
				</image-overlay-play-button>
				<div class="guide-card-video-text-1"></div>
			</div>
			<div class="guide-card-video-2">
				<image-overlay-play-button iob-image="./assets/showcase1.jpg">
				</image-overlay-play-button>
				<div class="guide-card-video-text-2"></div>
			</div>
		</div>
		<div class="guide-card-bullets-block">
			<span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span>
		</div>
	</div>
	<div class="gc-insights-block">
		<div class="gc-insights-play-text">
			What RERA Carpet Area Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			What RERA Carpet Area Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			What RERA Carpet Area Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			What RERA Carpet Area Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			What RERA Carpet Area Means and How is it Calculated..
		</div>
	</div>
	<div class="guide-card-legal-updates-block">
		<div class="gc-updates-block">
			<div class="gc-updates-block-image-sec">
				<img
					class="gc-updates-block-image"
					src="./assets/showcase1.jpg"
					alt="updates-image" />
			</div>
			<div class="gc-updates-block-text">
				Tranfer of propperty Act
				<arrow-right><span slot="arrow-text">Read article</span></arrow-right>
			</div>
		</div>
		<div class="gc-updates-block">
			<div class="gc-updates-block-image-sec">
				<img
					class="gc-updates-block-image"
					src="./assets/showcase1.jpg"
					alt="updates-image" />
			</div>
			<div class="gc-updates-block-text">
				Tranfer of propperty Act
				<arrow-right><span slot="arrow-text">Read article</span></arrow-right>
			</div>
		</div>
	</div>
	<div class="guide-card-see-all">
		<arrow-right><span slot="arrow-text">See all</span></arrow-right>
		<span class="gc-btn">
			<custom-button>
				<span slot="custom-btn-text">Explore Services</span></custom-button
			>
		</span>
	</div>
</div>
