<div class="guide-card-container">
	<div class="guide-card-title"></div>
	<div class="guide-card-videos-container">
		<div class="guide-card-videos-block">
			<div class="guide-card-video-1">
				<image-overlay-play-button
					iob-image="https://properties-search.s3.ap-south-1.amazonaws.com/assets/project-1.jpg">
				</image-overlay-play-button>
				<div class="guide-card-video-text-1"></div>
			</div>
			<div class="guide-card-video-2">
				<image-overlay-play-button
					iob-image="https://properties-search.s3.ap-south-1.amazonaws.com/assets/project-2.jpg">
				</image-overlay-play-button>
				<div class="guide-card-video-text-2"></div>
			</div>
		</div>
		<div class="guide-card-bullets-block"></div>
	</div>
	<div class="gc-insights-block"></div>
	<div class="guide-card-legal-updates-block"></div>
	<div class="guide-card-see-all">
		<arrow-right><span slot="arrow-text">See all</span></arrow-right>
		<span class="gc-btn">
			<custom-button>
				<span slot="custom-btn-text">Explore Services</span></custom-button
			>
		</span>
	</div>
</div>
