<div class="main-section-featured__content__card">
	<div class="img-block">
		<img src="" loading="lazy" class="featured-img" alt="feature-image" />
	</div>
	<div class="main-section-featured__content__card__text">
		<img
			class="logo-image"
			src="https://properties-search.s3.ap-south-1.amazonaws.com/assets/payrent.jpg"
			alt="" />
		<div class="main-section-featured__content__card__text__desc">
			<div class="main-section-featured__content__card__text__desc_name"></div>
			<div class="main-section-featured__content__card__text__desc_by"></div>
			<div class="main-section-featured__content__card__text__desc_loc"></div>
			<div
				class="main-section-featured__content__card__text__desc_marketed"></div>
		</div>
		<div class="price-details">
			<div class="flats-length"></div>
			<div><b class="price-details-el"></b> <small>onwards</small></div>
			<div class="fc-hover-btn">
				<custom-button>
					<span>See Details</span>
				</custom-button>
			</div>
		</div>
	</div>
</div>
