<div class="hnp-image-content-block">
	<img class="hnp-image-content-block-image" src="" alt="launched-main-image" />
	<div class="hnp-image-content-block-info">
		<div class="hnp-image-content-block-info-top">
			<div class="hnp-image-content-block-info-top-title"></div>
			<div class="hnp-image-content-block-info-top-by-loc"></div>
			<div class="hnp-image-content-block-info-top-price-block">
				<span><b>₹</b></span>
				<span class="hnp-image-content-block-info-top-price"></span
				><span>Lac onwards</span>
			</div>
		</div>
		<div class="hnp-image-content-block-info-middle">
			<div class="hnp-image-content-block-info-middle-title">
				MB Expert Review <span>Topics covered</span>
			</div>
			<div class="hnp-image-content-block-info-middle-videos-block">
				<div class="hnp-image-content-block-info-middle-videos-block-1">
					<div class="hnp-image-content-block-info-middle-video-1">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button iob-image="./assets/showcase1.jpg">
							</image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div class="hnp-image-content-block-info-middle-video-2">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div class="hnp-image-content-block-info-middle-video-3">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div class="hnp-image-content-block-info-middle-video-4">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div
						class="hnp-image-content-block-info-middle-video-4-default-display">
						<div
							class="hnp-image-content-block-info-middle-video-4-default-display-arrow-btn"></div>
						<div
							class="hnp-image-content-block-info-middle-video-4-default-display-text">
							+7 more
						</div>
					</div>
				</div>
				<div class="hnp-image-content-block-info-middle-videos-block-1">
					<div class="hnp-image-content-block-info-middle-video-1">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div class="hnp-image-content-block-info-middle-video-2">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div class="hnp-image-content-block-info-middle-video-3">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
					<div class="hnp-image-content-block-info-middle-video-4">
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-video">
							<image-overlay-play-button
								iob-image="./assets/showcase1.jpg"></image-overlay-play-button>
						</div>
						<div
							class="hnp-image-content-block-info-middle-videos-block-1-text">
							Introduction
						</div>
					</div>
				</div>
				<div class="hnp-image-content-block-info-middle-videos-view-full-text">
					View Full Video
				</div>
			</div>
		</div>
		<div class="hnp-image-content-block-info-bottom">
			<div class="hnp-image-content-block-info-bottom-heading-col">
				Amenities
			</div>
			<div class="hnp-image-content-block-info-bottom-kids-play-col">
				Kids Play Pool With Water Slides
			</div>
			<div class="hnp-image-content-block-info-bottom-sand-pit-col">
				Sand Pit
			</div>
			<div class="hnp-image-content-block-info-bottom-more-col"></div>
			<div class="hnp-hover-popup-btn">
				<custom-button
					><span slot="custom-btn-text">View Details</span></custom-button
				>
			</div>
		</div>
	</div>
</div>
