.hnp-image-content-block {
	min-height: 320px;
	margin-top: 30px;
	border-radius: 4px;
	background-image: linear-gradient(
		180deg,
		transparent 25%,
		rgba(0, 0, 0, 0.47) 54%,
		rgba(0, 0, 0, 0.72) 83%
	);
	transition: all 0.35s ease-in;
	position: relative;
	border: 1px solid var(--border-color);
	border-left: none;
	border-right: none;
	cursor: pointer;
}

.hnp-image-content-block-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
	border-radius: 4px;
	z-index: -1;
}
.hnp-image-content-block-info {
	display: grid;
	position: absolute;
	top: 80px;
	width: 100%;
}
.hnp-image-content-block-info-top {
	color: var(--white);
	padding: 0 20px;
}
.hnp-image-content-block-info-top-title {
	font: var(--title-font);
	line-height: 24px;
}
.hnp-image-content-block-info-top-by-loc {
	font: var(--description-font);
	line-height: 24px;
	margin-bottom: 6px;
}

.hnp-image-content-block-info-top-price-block {
	line-height: 24px;
}

.hnp-image-content-block-info-top-price {
	font-weight: 600;
}

.hnp-image-content-block-info-middle {
	height: 70px;
	overflow: hidden;
	background-color: var(--footer-primary);
	border-radius: 8px 8px 0 0;
	margin-top: 10px;
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
	transition: 0.4s ease-out;
}

.hnp-image-content-block-info-middle-title {
	font: var(--title-font);
	color: var(--text-primary);
	padding-top: 10px;
}
.hnp-image-content-block-info-middle-title > span {
	font: var(--description-font);
}

.hnp-image-content-block-info-middle-videos-block {
	display: grid;
	grid-template-rows: 1fr 1fr 0.2fr;
	row-gap: 10px;
}

.hnp-image-content-block-info-middle-videos-block-1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.hnp-image-content-block-info-middle-video-4 {
	display: none;
}

.hnp-image-content-block-info-middle-video-4-default-display-arrow-btn {
	border: 1px solid var(--border-color);
	background-color: var(--white);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	display: grid;
	place-items: center;
}

.hnp-image-content-block-info-middle-video-4-default-display {
	display: grid;
	place-items: center;
}

.hnp-image-content-block-info-middle-video-4-default-display-arrow-btn::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	border-top: 1px solid var(--text-primary);
	border-left: 1px solid var(--text-primary);
	transform: rotate(45deg);
}

.hnp-image-content-block-info-middle-video-4-default-display-text {
	font: var(--description-font);
	font-weight: 600;
	color: var(--text-primary);
	margin-top: 5px;
}

.hnp-image-content-block-info-middle-videos-block-1-video {
	border-radius: 4px;
	height: 46px;
}

.hnp-image-content-block-info-middle-videos-block-1-text {
	font: var(--description-font);
	font-weight: 600;
	margin-top: 5px;
	color: var(--text-primary);
	width: calc(100% - 8px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hnp-image-content-block-info-middle-videos-view-full-text {
	font: var(--description-font);
	color: var(--text-secondary);
	text-decoration: underline;
}

.hnp-image-content-block-info-bottom {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1.5fr 0.7fr;
	padding: 20px 20px 18px;
	background-color: var(--white);
	transition: all 0.35s ease-in;
	border: 1px solid var(--border-color);
	border-top: none;
	border-radius: 0 0 8px 8px;
	margin-top: -10px;
	height: 68px;
}

.hnp-image-content-block-info-bottom-heading-col {
	font: var(--title-font);
	color: var(--text-primary);
}
.hnp-image-content-block-info-bottom-kids-play-col {
	font: var(--description-font);
	color: var(--text-primary);
	position: relative;
}
.hnp-image-content-block-info-bottom-kids-play-col::before {
	content: "";
	position: absolute;
	background: url("./assets/amenities-sprite-web.svg");
	background-position: -13px -3233px;
	width: 31px;
	height: 22px;
	left: -40px;
	top: 5px;
}
.hnp-image-content-block-info-bottom-sand-pit-col {
	font: var(--description-font);
	color: var(--text-primary);
	position: relative;
	display: grid;
	justify-content: center;
	margin-top: 5px;
}
.hnp-image-content-block-info-bottom-sand-pit-col::before {
	content: "";
	position: absolute;
	background: url("./assets/amenities-sprite-web.svg");
	background-position: -13px -5103px;
	width: 30px;
	height: 25px;
	left: 10px;
}

.hnp-image-content-block-info-bottom-more-col {
	border: 1px solid var(--footer-secondary);
	border-radius: 8px;
	font: var(--description-font);
	display: grid;
	place-items: center;
	position: relative;
}

.hnp-hover-popup-btn {
	position: absolute;
	right: 0;
	bottom: 30px;
	right: 10px;
	display: none;
}
