<style>
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	.footer {
		width: 100%;
		min-height: 200px;
		background-color: #f5f5f5;
		display: grid;
		grid-template-rows: 4fr 1fr 1fr 0.2fr;
	}

	.footer-section-1 {
		display: grid;
		grid-template-columns: 1.3fr 1fr;
		gap: 80px;
		width: 100%;
	}

	.footer-section-1-left {
		display: grid;
		grid-template-rows: 2fr 1fr;
		margin: 20px 60px;
	}

	.footer-section-1-left-text,
	.footer-section-1-right-text {
		font: var(--medium-font);
		line-height: 24px;
		max-width: 100%;
	}
	.footer-section-1-left-text > div,
	.footer-section-1-right-text > div {
		font: var(--description-font);
		margin-top: 16px;
		line-height: 24px;
	}

	.footer-section-1-right {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		margin: 20px 60px;
	}

	.footer-section-1-left-social-icons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-section-1-left-social-icons > .icon-top-wrap > div,
	.footer-section-1-left-social-icons > .icon-bottom-wrap > div {
		background-image: url("./assets/web-header-footer.svg");
		background-repeat: no-repeat;
		display: inline-block;
	}

	.footer-section-1-left-social-icons > .icon-top-wrap > .g-play {
		width: 120px;
		height: 32px;
		background-position: -59px 0;
		margin-right: 5px;
	}
	.footer-section-1-left-social-icons > .icon-top-wrap > .a-store {
		width: 120px;
		height: 32px;
		background-position: -187px 0;
		margin-right: 34px;
	}
	.footer-section-1-left-social-icons > .icon-bottom-wrap > .f-social {
		width: 32px;
		height: 32px;
		background-position: -59px -52px;
		margin-right: 10px;
	}
	.footer-section-1-left-social-icons > .icon-bottom-wrap > .t-social {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		background-position: -99px -52px;
	}
	.footer-section-1-left-social-icons > .icon-bottom-wrap > .l-social {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		background-position: -139px -52px;
	}
	.footer-section-1-left-social-icons > .icon-bottom-wrap > .y-social {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		background-position: -179px -52px;
	}
	.footer-section-1-left-social-icons > .icon-bottom-wrap > .i-social {
		width: 32px;
		height: 32px;
		margin-right: 10px;
		background-position: -219px -52px;
	}

	.footer-section-2 {
		width: 100%;
		display: grid;
		align-items: center;
		background-color: #e8e8e8;
	}

	.footer-section-2 > ul {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
		font-size: 14px;
		margin: 0px 60px;
	}

	.footer-section-3 {
		width: 100%;
		background-color: #f5f5f5;
		font-size: 12px;
		line-height: 18px;
		color: #606060;
	}

	.footer-section-3 > div {
		margin: 10px 60px;
	}

	.footer-section-4 {
		width: 100%;
		background-color: #303030;
		color: #fff;
	}

	.footer-section-4 > div {
		font-size: 10px;
		line-height: 40px;
		text-align: center;
		padding: 0 60px;
	}

	@media (max-width: 1110px) {
		.footer-section-2 > ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			row-gap: 20px;
		}

		.footer-section-1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			width: 100%;
		}

		.footer-section-1-left-social-icons {
			margin-top: 20px;
		}
	}
	@media (max-width: 960px) {
		.footer-section-1-left-social-icons {
			grid-template-columns: 1fr;
			row-gap: 20px;
		}
		.footer-section-1 {
			display: grid;
			grid-template-columns: 1fr;
			gap: 10px;
			width: 100%;
			margin-bottom: 40px;
		}

		.footer-section-1-left {
			display: grid;
			grid-template-rows: 1fr 0.2fr;
			margin: 20px 60px 0 60px;
		}
		.footer-section-1-right {
			margin: 20px 60px 0 60px;
		}
	}
	@media (max-width: 600px) {
		.footer {
			grid-template-rows: 4fr 1fr 0.7fr 0.2fr;
		}
		.footer-section-1-left {
			margin: 20px 10px 0 10px;
		}
		.footer-section-1-right {
			margin: 20px 10px 0 10px;
		}
		.footer-section-2 {
			width: 100%;
			display: grid;
			align-items: center;
			background-color: #e8e8e8;
		}

		.footer-section-2 > ul {
			display: grid;
			margin-top: auto;
			font-size: 12px;
			margin: 0px 10px;
		}

		.footer-section-3 > div {
			margin: 10px 10px;
		}

		.footer-section-4 > div {
			padding: 10px 10px;
			line-height: 20px;
		}
	}
</style>

<footer class="footer">
	<div class="footer-section-1">
		<div class="footer-section-1-left">
			<div class="footer-section-1-left-text">
				About Magicbricks<br />
				<div>
					Magicbricks is a full stack service provider for all real estate
					needs, with 15+ services including home loans, pay rent, packers and
					movers, legal assistance, property valuation, and expert advice. As
					the largest platform for buyers and sellers of property to connect in
					a transparent manner, Magicbricks has an active base of over 15 lakh
					property listings.
				</div>
			</div>
			<div class="footer-section-1-left-social-icons">
				<div class="icon-top-wrap">
					<div class="g-play"></div>
					<div class="a-store"></div>
				</div>
				<div class="icon-bottom-wrap">
					<div class="f-social"></div>
					<div class="t-social"></div>
					<div class="l-social"></div>
					<div class="y-social"></div>
					<div class="i-social"></div>
				</div>
			</div>
		</div>
		<div class="footer-section-1-right">
			<div class="footer-section-1-right-text">
				Properties in India<br />
				<div>
					Property in New Delhi | &nbsp; Property in Mumbai | &nbsp; Property in
					Chennai | &nbsp; Property in Pune | &nbsp; Property in Noida | &nbsp;
					Property in Gurgaon | &nbsp; Property in Bangalore | &nbsp; Property
					in Ahmedabad
				</div>
			</div>
			<div class="footer-section-1-right-text">
				Properties in India<br />
				<div>
					New Projects in New Delhi | &nbsp; New Projects in Mumbai | &nbsp; New
					Projects in Chennai | &nbsp; New Projects in Pune | &nbsp; New
					Projects in Noida | &nbsp; New Projects in Gurgaon | &nbsp; New
					Projects in Bangalore | &nbsp; New Projects in Ahmedabad
				</div>
			</div>
		</div>
	</div>
	<div class="footer-section-2">
		<ul>
			<li>Sitemap</li>
			<li>Terms & Conditions</li>
			<li>Privacy Policy</li>
			<li>Blog</li>
			<li>Careers</li>
			<li>Testimonials</li>
			<li>Feedback</li>
			<li>Unsubscribe</li>
			<li>Help Center</li>
			<li>Sales Enquiry</li>
			<li>Buy Our Services</li>
		</ul>
	</div>
	<div class="footer-section-3">
		<div>
			Disclaimer: Magicbricks Realty Services Limited is only an intermediary
			offering its platform to advertise properties of Seller for a
			Customer/Buyer/User coming on its Website and is not and cannot be a party
			to or privy to or control in any manner any transactions between the
			Seller and the Customer/Buyer/User. All the offers and discounts on this
			Website have been extended by Read more
		</div>
	</div>
	<div class="footer-section-4">
		<div>
			<span>
				All trademarks, logos and names are properties of their respective
				owners. All Rights Reserved. © Copyright 2022 Magicbricks Realty
				Services Limited.
			</span>
		</div>
	</div>
</footer>
