<style>
	.guide-card-container {
		height: 348px;
		width: 100%;
		border: 1px solid var(--border-color);
		border-top-color: var(--primary);
		border-radius: 8px;
		display: grid;
		grid-template-rows: 0.6fr 1fr 0.2fr;
	}
	.guide-card-title {
		padding: 20px 16px 0 16px;
		font: var(--title-font);
		color: var(--text-primary);
	}
	.guide-card-videos-block {
		display: grid;
		grid-template-rows: 0.6fr 0.3fr 0.1fr;
		padding: 0 16px;
		margin-top: 13px;
	}

	.guide-card-video {
		width: 100%;
		height: 136px;
		overflow: hidden;
		position: relative;
		column-count: 2;
	}

	.guide-card-video iframe {
		width: 100%;
		height: inherit;
		border-radius: 8px;
		background-color: var(--border-color);
	}

	.guide-card-video-text {
		width: 100%;
		font-size: 14px;
		color: var(--text-primary);
		line-height: 20px;
		overflow: visible;
		margin: 16px 0;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		column-count: 2;
	}

	.guide-card-bullets-block {
		display: flex;
		justify-content: center;
	}

	.guide-card-bullet {
		width: 8px;
		height: 8px;
		display: inline-block;
		border-radius: 100%;
		background: #000;
		opacity: 0.2;
		margin-right: 10px;
	}

	.gc-insights-block {
		padding: 0 16px;
		margin-top: 13px;
	}

	.gc-insights-play-text {
		display: flex;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 12px 0;
		width: 100%;
		font: var(--description-font);
	}

	.gc-insights-play-text-icon {
		background: url("./assets/locality__detail__sprite_v2.svg");
		width: 30px;
		height: 20px;
		background-position: -1px -1149px;
		display: block;
	}

	.gc-updates-block {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;
		padding: 0 16px;
		grid-template-rows: 1fr 0.1fr;
	}

	.gc-updates-block-text {
		font: var(--description-font);
		font-weight: 600;
		color: var(--text-primary);
	}

	.gc-updates-block-image {
		width: 100%;
		height: 88px;
	}

	.guide-card-see-all {
		padding: 10px 16px 0 16px;
		font: var(--description-font);
		color: var(--primary);
		font-weight: 600;
		display: flex;
		justify-content: space-between;
	}

	/* shown hidden elements dynamically when required */

	.gc-btn {
		display: none;
	}

	.guide-card-videos-block {
		display: none;
	}

	.gc-insights-block {
		display: none;
	}

	.guide-card-legal-updates-block {
		display: none;
	}
</style>
<div class="guide-card-container">
	<div class="guide-card-title"></div>
	<div class="guide-card-videos-block">
		<div class="guide-card-video">
			<iframe
				class="iframe-one"
				width="100%"
				height="100%"
				src=""
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			<iframe
				class="iframe-two"
				width="100%"
				height="100%"
				src=""
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="guide-card-video-text">
			<span class="guide-card-video-text-1"></span>
			<span class="guide-card-video-text-2"></span>
		</div>
		<div class="guide-card-bullets-block">
			<span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span
			><span class="guide-card-bullet"></span>
		</div>
	</div>
	<div class="gc-insights-block">
		<div class="gc-insights-play-text">
			<span class="gc-insights-play-text-icon"></span>What RERA Carpet Area
			Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			<span class="gc-insights-play-text-icon"></span>What RERA Carpet Area
			Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			<span class="gc-insights-play-text-icon"></span>What RERA Carpet Area
			Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			<span class="gc-insights-play-text-icon"></span>What RERA Carpet Area
			Means and How is it Calculated..
		</div>
		<div class="gc-insights-play-text">
			<span class="gc-insights-play-text-icon"></span>What RERA Carpet Area
			Means and How is it Calculated..
		</div>
	</div>
	<div class="guide-card-legal-updates-block">
		<div class="gc-updates-block">
			<div class="gc-updates-block-image-sec">
				<img
					class="gc-updates-block-image"
					src="./assets/showcase1.jpg"
					alt="updates-image" />
			</div>
			<div class="gc-updates-block-text">
				Tranfer of propperty Act
				<arrow-right><span slot="arrow-text">Read article</span></arrow-right>
			</div>
		</div>
		<div class="gc-updates-block">
			<div class="gc-updates-block-image-sec">
				<img
					class="gc-updates-block-image"
					src="./assets/showcase1.jpg"
					alt="updates-image" />
			</div>
			<div class="gc-updates-block-text">
				Tranfer of propperty Act
				<arrow-right><span slot="arrow-text">Read article</span></arrow-right>
			</div>
		</div>
	</div>
	<div class="guide-card-see-all">
		<arrow-right><span slot="arrow-text">See all</span></arrow-right>
		<span class="gc-btn">
			<custom-button>
				<span slot="custom-btn-text">Explore Services</span></custom-button
			>
		</span>
	</div>
</div>
