<style>
	li {
		list-style-type: none;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	.header-dropdown-container {
		background-color: var(--white);
		border-radius: 0 0 4px 4px;
		box-shadow: 0 3px 9px 0 rgba(48, 48, 48, 0.2);
		padding: 20px;
		width: max-content;
		height: auto;
		display: grid;
		grid-auto-flow: column;
		gap: 30px;
		overflow: hidden;
		border-top: none;
	}

	.hd-col-heading {
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 10px;
	}

	.hd-col-block {
		text-align: initial;
	}

	.hd-list-container {
		padding-top: 10px;
	}

	.hd-list-item {
		padding: 5px 0px;
	}
</style>
<div class="header-dropdown-container">
	<div class="hd-col-block">
		<div class="hd-col-heading">Popular Choices</div>
		<ul class="hd-list-container">
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
		</ul>
	</div>
	<div class="hd-col-block">
		<div class="hd-col-heading">Popular Choices</div>
		<ul class="hd-list-container">
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
		</ul>
	</div>

	<div class="hd-col-block">
		<div class="hd-col-heading">Popular Choices</div>
		<ul class="hd-list-container">
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
			<li class="hd-list-item">Checking Items of the dropdown</li>
		</ul>
	</div>
</div>
