<style>
	.services-card {
		height: 216px;
		border: 1px solid #d7d7d7;
		border-radius: 8px;
		display: grid;
		grid-template-rows: 1fr 1fr;
		cursor: pointer;
	}

	.services-card-image-block {
		height: 115px;
		width: 100%;
		border-radius: 8px 8px 0 0;
		overflow: hidden;
	}

	.services-card-image {
		width: 100%;
		height: 100%;
		border-radius: 8px 8px 0 0;
		transition: all 0.35s ease-in;
	}
	.services-card__text-block {
		padding: 16px 24px;
		line-height: 22px;
	}

	.services-card__text-block > div:first-child {
		font: var(--title-font);
		color: var(--text-primary);
		margin-bottom: 5px;
	}
	.services-card__text-block > div:nth-child(2) {
		font: var(--description-font);
		color: var(--text-primary);
	}
</style>
<div class="services-card">
	<div class="services-card-image-block">
		<img class="services-card-image" src="" alt="services-card" />
	</div>
	<div class="services-card__text-block">
		<div class="text-1"></div>
		<div class="text-2"></div>
	</div>
</div>
