* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Inter", Helvetica, Arial, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
}

:root {
	--primary: #aa0000;
	--primary-alternate: #ce0037;
	--secondary: #228b22;
	--text-primary: #303030;
	--text-secondary: #606060;
	--heading-font: 400 normal 28px/32px "Inter", Helvetica, Arial, sans-serif;
	--title-font: 600 normal 18px / normal "Inter", Helvetica, Arial, sans-serif;
	--medium-font: 400 normal 16px/20px "Inter", Helvetica, Arial, sans-serif;
	--description-font: 400 normal 14px/20px "Inter", Helvetica, Arial, sans-serif;
	--black: #000;
	--white: #fff;
	--border-color: #d7d7d7;
	--before-hide: none;
	--bg-secondary: #def6f8;
	--bg-new: #fff8e2;
	--bg-light: #dff6f9;
	--bg-blue: #00c1d4;
	--bg-orange: #f06b4d;
	--footer-primary: #f5f5f5;
	--footer-secondary: #e8e8e8;
	--home-sprite: url("https://properties-search.s3.ap-south-1.amazonaws.com/assets/mb-home-sprite-web.svg");
	--project-sprite: url("https://properties-search.s3.ap-south-1.amazonaws.com/assets/hp-new-project-topSec-sprite.svg");
	--footer-icon: url("https://properties-search.s3.ap-south-1.amazonaws.com/assets/web-header-footer.svg");
	--header-icon: url("https://properties-search.s3.ap-south-1.amazonaws.com/assets/icons.svg");
}
