<footer class="footer">
	<div class="footer-section-1">
		<div class="footer-section-1-left">
			<div class="footer-section-1-left-text"></div>
			<div class="footer-section-1-left-social-icons">
				<div class="icon-top-wrap">
					<div class="g-play"></div>
					<div class="a-store"></div>
				</div>
				<div class="icon-bottom-wrap">
					<div class="f-social"></div>
					<div class="t-social"></div>
					<div class="l-social"></div>
					<div class="y-social"></div>
					<div class="i-social"></div>
				</div>
			</div>
		</div>
		<div class="footer-section-1-right"></div>
	</div>
	<div class="footer-section-2"></div>
	<div class="footer-section-3"></div>
	<div class="footer-section-4">
		<div>
			<span> </span>
		</div>
	</div>
</footer>
